footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
}
body, html {
  height: 100%;
  margin: 0;
}
.bg {
  /* The image used */
  background-image: url('../img/scienceBG.jpg');

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}